<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>PopPop - A Living Pedestrian Signal</title>
        <meta name="description" content="PopPop - A Living Pedestrian Signal">
        <meta name="viewport" content="width=device-width">

        <link rel="icon" type="image/png" href="/img/favicon.png">

        <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
    <div id="bg"></div>
    <div id="streetscape"></div>
    <div id="info">       
         <h1>Meet PopPop<br /> <span>a living pedestrian signal in NYC</span></h1>
         <iframe src="//player.vimeo.com/video/81987956?title=0&amp;byline=0&amp;portrait=0&amp;color=00a2a5" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
         <div>
            PopPop is a new type of living pedestrian signal that interacts with his street corner. Are there too many jaywalkers? How crowded is the corner? Is it rainy? PopPop knows and reacts accordingly. Come say hi to PopPop in NYC, at Broadway &amp; Waverly.  <a id="current" href="http://poppop-nyc.tumblr.com/post/70157205445/pop-pop-a-living-pedestrian-signal-in-nyc" target="_blank">Learn more about how it works.</a>
        </div>
    </div>
    <div id="emotion">
        <img src="/img/attentively-upbeat.png" id="image_emotion" />    
        <div style="margin-top: 5px;margin-left: 5px;">"<span id="val1">{{data}}</span>"</div>
    </div>
    </body>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="/components/socket.io-client/dist/socket.io.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/script.js"></script>

</html>