<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>PopPop - A Living Pedestrian Signal</title>
        <meta name="description" content="PopPop - A Living Pedestrian Signal">
        <meta name="viewport" content="width=device-width">

        <link rel="icon" type="image/png" href="/img/favicon.png">

        <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

    <div class="row">
      <div class="span12">       
         <h1>Pop pop is <span id="val1">{{data}}</span></h1>
      </div>
    </div>

    </body>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="/components/socket.io-client/dist/socket.io.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/script.js"></script>

</html>